<div class="animated">
    <div *ngIf="isLogging" class="loading">
        <h1>Chargement..</h1>
    </div>
</div>

<div class="bgon grid-btn">
    <ion-grid padding>
        <div class="columns">
            <div class="column has-text-centered">
                <h1 class="title">Connexion</h1>
            </div>
        </div>
        <div class="columns">
            <div class="column has-text-centered">
                <!-- <ion-button shape="round" mode="ios" size="large" color="danger" expand="full" (click)="google()">
                    Google
                </ion-button> -->
                <a class="button cnct btnw3 is-danger is-rounded is-medium" (tap)="google()">Google</a>
            </div>
            <div class="column has-text-centered">
                <!-- <ion-button shape="round" mode="ios" size="large" color="danger" expand="full" (click)="google()">
                    Google
                </ion-button> -->
                <a class="button cnct btnw3 is-link is-rounded is-medium" (tap)="facebook()">Facebook</a>
            </div>
        </div>
        <!-- <ion-row justify-content-center>
            <ion-col padding size="8">
                <ion-button shape="round" mode="ios" size="large" color="fb" expand="full" (click)="facebook()">
                    Facebook
                </ion-button>
            </ion-col>
        </ion-row> -->
    </ion-grid>
</div>


<!-- <button class="btn primary block" (click)="gogo()">
        <h1>GO</h1>
</button> -->