<ion-header no-border mode="ios">
  <ion-toolbar mode="ios" class="header">
    <ion-buttons slot="start">
      <div class="burger" (tap)="openMenu()">
        <svg xmlns="http://www.w3.org/2000/svg" width="38" height="28" viewBox="0 0 88 68"><g transform="translate(-60 -60)"><rect width="88" height="16" rx="8" transform="translate(60 60)" fill="#fff"/><rect width="88" height="16" rx="8" transform="translate(60 86)" fill="#fff"/><rect width="88" height="16" rx="8" transform="translate(60 112)" fill="#fff"/></g></svg>
      </div>
    </ion-buttons>
    <ion-title class="header-title">{{name}}</ion-title>
  </ion-toolbar>
</ion-header>

<div id="map_canvas">
</div>
<div class="card-top">
  <div class="cont">
    
  </div>
  <div class="has-text-centered">
    <a class="button locate is-medium is-secondary btnw5 is-rounded" (tap)="onButtonClick()">
      <h1>Trouver les écran autour de moi</h1>
    </a>
  </div>
</div>

<div class="bgon">
  <!-- <div class="card-full animated">
    <ion-card-header>
      <ion-card-title *ngIf="gotCoords">Vous etes actuelement au<br> {{coords.address.subThoroughfare || null}}, {{coords.address.thoroughfare || null}}, {{coords.address.postalCode || null}}, {{coords.address.locality || null}}</ion-card-title>
    <ion-card-title *ngIf="!gotCoords" >Clickez sur "Me localiser" pour obtenir votre adresse</ion-card-title> -->
      <!-- <ng-template #elseBlock>Clickez sur "Me localiser" pour obtenir votre adresse</ng-template> -->
      

    <!-- </ion-card-header>

    
  </div> -->
    
</div>