<ion-header mode="ios">
  <div class="menu-btn" (tap)="openMenu()">
    <ion-icon name="menu"></ion-icon>
  </div>
  <h1 class="title page-title animated">{{name}}</h1>
</ion-header>

<div class="bgon">
  <div class="card-full animated">
    <ion-card-header>
      <ion-card-subtitle>Page {{name}}</ion-card-subtitle>
      <ion-card-title>{{name}}</ion-card-title>
      <ion-card-title>Latitude : {{latitude}}</ion-card-title>
      <ion-card-title>Longitude : {{longitude}}</ion-card-title>
      <ion-card-title>Precision : {{accur}}</ion-card-title>

    </ion-card-header>

    <ion-card-content>
      ceci est la page {{name}}
      <button class="btn primary block" (click)="getCoords()">
        <h1>Get coords</h1>
      </button>
    </ion-card-content>
  </div>
</div>