

.text-btn-color {
    color: white;
}

.ion-color-fb {
    --ion-color-base: #3B5998;
    --ion-color-base-rgb: 59,89,152;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255,255,255;
    --ion-color-shade: #344e86;
    --ion-color-tint: #4f6aa2;
}



