.bgon {
    // background-image: url('../../assets/img/bgimg.jpg');
    // background-position: center;
    // background-size: cover;
    // width: 100%;
    // height: 100%;
    background-color: #f1f6f5;
}

.tabar {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100vw;
}

.tab-wrapper {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 96%;
    margin: 2%;
    margin-bottom: 5%;
    border: none;
    border-radius: 40px;
    height: 64px;
    background-color: #67D3B9;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
}

ion-tab {
    height: 100vh;
}

ion-tab-bar {
    border: none;
    height: 100%;
    border-radius: 40px;
}